@{
    ViewData["Title"] = "Početna";
}

<div class="jumbotron">
    <img style="position:relative; top:-30px; width:300px; float:left; margin-right:25px;" src="~/homepage.jpg"/>
    <h2 class="display-5">Dobrodošli u Msisdn aplikaciju</h2>
    <p class="lead" style="display: block; margin-left: 15px;">Aplikacija za praćenje i blokiranje/odblokiranje broja telefona.</p>
    <p><a href="https://docs.microsoft.com/aspnet/core" class="btn btn-alert-primary btn-lg">Za naučiti više &raquo;</a></p>
</div>

